.page-header {
    background-image: url('https://img.freepik.com/foto-gratis/vista-angulo-alto-hombre-recortado-que-llena-calendario-linea_1098-20531.jpg?w=360&t=st=1695737735~exp=1695738335~hmac=6785bbbf9cd1bf0232ad567c7906e77bf1852644783a29d12838ccb73abd5ab7');
    background-size: cover;
  }
  
  .card-header {
    background-color: #596CFF; /* Cambia esto al color de fondo azul que desees */
    border-radius: 10px 10px 0 0; /* Redondea solo las esquinas superiores */
  }
  
 .card-body {
    background-color: white;
    border-radius: 0 0 10px 10px; /* Redondea solo las esquinas inferiores */
  }
  
  .form-control {
    border-radius: 10px;
  }
  /* Estilos para el botón */
.boton-iniciar-sesion {
  background-color: #596CFF; /* Fondo azul */
  color: white; /* Texto blanco */
  border: none;
  border-radius: 10px; /* Redondea los bordes */
  padding: 10px 20px; /* Ajusta el tamaño del botón según tus necesidades */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición de colores en el hover */
}

/* Cambio de colores en el hover */
.boton-iniciar-sesion:hover {
  background-color: white; /* Fondo blanco */
  color: #596CFF; /* Texto azul */
}

/* Alineación del botón en el centro */
.text-center button.boton-iniciar-sesion {
  display: block;
  margin: 0 auto;
}

/* Estilos para los inputs */
.input-group-outline input.form-control {
  border-radius: 10px;
}

/* Estilos para las etiquetas de los inputs */
.input-group-outline label.form-label {
  color: #596CFF; /* Color azul para las etiquetas de los inputs */
}

